{% extends "base.html" %}

{% block content %}
<h1>Glossary</h1>

<h3>Goal (G)</h3>

<p>A player scores a goal when the puck enters the opponent's net, and they were the last on their team to play the
    puck.</p>

<h3>Assist (A)</h3>

<p>When a goal is scored, assists are given to up to two players on the scoring team that touched the puck before the
    goal scorer, without the opposing team gaining possession in between.</p>

<h3>Point (P)</h3>

<p>A point is either a goal or an assist.</p>

<h3>Plus/Minus (+/-)</h3>

{% endblock %}