{% extends "base.html" %}

{% block content %}
<h1>Glossary</h1>

<h3>Goal (G)</h3>

<p>A player scores a goal when the puck enters the opponent's net, and they were the last on their team to touch the
    puck.</p>

<h3>Assist (A)</h3>

<p>When a goal is scored, assists are given to up to two players on the scoring team that touched the puck before the
    goal scorer, without the opposing team gaining possession in between.</p>

<h3>Point (P)</h3>

<p>A point is either a goal or an assist.</p>

<h3>Penalty minutes (PIM)</h3>

<p>A penalty is given to a player for committing one of several actions deemed unfair or dangerous enough to warrant it.
  Most penalties are <i>minor</i> penalties, and the offending player must sit in the penalty box for two minutes and
cannot be replaced.  There are also <i>major</i> penalties lasting five minutes (most notably fighting), 10-minute
<i>misconducts</i>, and <i>game misconducts</i> or <i>match</i> penalties given usually when the referee feels there
was an intent to injure.  Penalty totals for a player are counted in minutes (hence PIM), where all misconducts count as
10 minutes regardless of length or time left in the game.</p>

<h3>Power Play (PP)/Short-handed (SH)</h3>

<p>When a player is assessed a penalty, their team must play with one fewer player on the ice for the duration of the
penalty.  The team with the offending player in the penalty box is therefore playing <i>short-handed</i>.  The team with
extra players is said to be on the <i>power play</i>.  Many statistics have sub-categories relating to the number of
players on the ice for each team.  For example, a players goals may be broken down into power play goals (PPG),
short-handed goals (SHG), and even-strength goals (ESG); the latter are simply goals scored with the same number of
players on the ice for both teams.</p>

<h3>Plus/Minus (+/-)</h3>

<p>A crude attempt at assessing a player's overall value, plus/minus basically counts the goal differential of the whole
team while the player is on the ice.  Every time a player is on the ice when their team scores a goal, they get a +1.
Every time a player is on the ice when their team allows a goal, they get a -1.  As power play goals are much less
difficult to score that goals at other relative strengths, they don't count as either a +1 for the scoring team or a -1
for the defending team.</p>

<h3>Shots on goal(S)/Shot percentage (S%)</h3>

<p>A shot on goal is basically any attempt by a player to push the puck toward the opposing goal that would have entered
the net if not for the opposing goaltender.  As all goals must be scored by a shot, shots on goal are occasionally
awarded even when the "scoring" player did not direct the puck on net himself.  Pucks that miss the net on their own
(including pucks that hit the post and do not enter the net) are considered <i>missed shots</i>, while pucks prevented
from entering the net by opponents other than the goaltender are called <i>blocked shots</i>.  Neither counts as a shot
on goal.</p>

<p>A player's shot percentage is simply the proportion of their shots on goal that count as goals (G/S).</p>

<h3>Time on ice (TOI)</h3>

<p>Time on ice (measured in seconds) is quite simply the amount of time a player spends in the playing area rather than
on the bench.  TOI is often broken down situationally (e.g., PPTOI)</p>.

{% endblock %}