{% extends "base.html" %}

{% block content %}

<h1>{{ skater }}</h1>

<p>DOB: {{ skater.birthday }}</p>
{% if skater.draft_position %}
<p>Drafted: {{ skater.draft_year }}, #{{ skater.draft_position }} Overall</p>
{% else %}
<p>Undrafted</p>
{% endif %}

<h2>NHL Statistics</h2>
<table class="table table-striped">
    <tr>
        <th>Season</th>
        <th>G</th>
        <th>A</th>
        <th>P</th>
        <th>+/-</th>
        <th>PIM</th>
        <th>S</th>
        <th>S%</th>
        <th>GWG</th>
    </tr>
    {% for season in skaterstats %}
    <tr>
        <td>{{ season.season }}</td>
        <td>{{ season.goals }}</td>
        <td>{{ season.assists }}</td>
        <td>{{ season.points }}</td>
        <td>{{ season.plus_minus }}</td>
        <td>{{ season.penalty_minutes }}</td>
        <td>{{ season.shots }}</td>
        <td>{{ season.shot_pct }}</td>
        <td>{{ season.gw_goals }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}