{% extends "base.html" %}

{% load mathfilters %}

{% block title %}{{ full_team }} Roster - HockeyML{% endblock %}

{% block content %}

<h1>{{ full_team }}</h1>
<section>
    <h3>Current Roster</h3>
    <table class="data">
        <thead>
            <tr>
                <th>Forwards</th>
                <th></th>
                <th colspan="4">2015 Season</th>
            </tr>
            <tr>
                <th>Player</th>
                <th title="Date of Birth">DOB</th>
                <th title="Games Played">GP</th>
                <th title="Goals">G</th>
                <th title="Assists">A</th>
                <th title="Points">P</th>
            </tr>
        </thead>
        <tbody>
            {% for forward in forwards %}
            <tr>
                <td><a href="{% url 'player_detail' pk=forward.nhl_num.nhl_num %}">{{ forward.nhl_num }}</a></td>
                <td>{{ forward.nhl_num.birthday }}</td>
                <td>{{ forward.games_played }}</td>
                <td>{{ forward.goals }}</td>
                <td>{{ forward.assists }}</td>
                <td>{{ forward.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <thead>
            <tr>
                <th>Defensemen</th>
                <th></th>
                <th colspan="4">2015 Season</th>
            </tr>
            <tr>
                <th>Player</th>
                <th title="Date of Birth">DOB</th>
                <th title="Games Played">GP</th>
                <th title="Goals">G</th>
                <th title="Assists">A</th>
                <th title="Points">P</th>
            </tr>
        </thead>
        <tbody>
            {% for dman in defensemen %}
            <tr>
                <td><a href="{% url 'player_detail' pk=dman.nhl_num.nhl_num %}">{{ dman.nhl_num }}</a></td>
                <td>{{ dman.nhl_num.birthday }}</td>
                <td>{{ dman.games_played }}</td>
                <td>{{ dman.goals }}</td>
                <td>{{ dman.assists }}</td>
                <td>{{ dman.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <thead>
            <tr>
                <th>Goalies</th>
                <th></th>
                <th colspan="4">2015 Season</th>
            </tr>
            <tr>
                <th>Player</th>
                <th title="Date of Birth">DOB</th>
                <th title="Games Played">GP</th>
                <th title="Games Started">GS</th>
                <th title="Goals Against Average">GAA</th>
                <th title="Save Percentage">SV%</th>
            </tr>
        </thead>
        <tbody>
            {% for goalie in goalies %}
            <tr>
                <td><a href="{% url 'player_detail' pk=goalie.nhl_num.nhl_num %}">{{ goalie.nhl_num }}</a></td>
                <td>{{ goalie.nhl_num.birthday }}</td>
                <td>{{ goalie.games_played }}</td>
                <td>{{ goalie.games_started }}</td>
                <td>{{ goalie.gaa|floatformat:"2" }}</td>
                <td>{{ goalie.save_pct|mul:100|floatformat:"1" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}