{% extends "base.html" %}

{% load mathfilters %}

{% load static %}

{% block title %}{{ skater }} Statistics - HockeyML{% endblock %}

{% block content %}

<h1>{{ skater }}{% if team %} - <a href="{% url 'team_detail' team=team %}">{{ team }}</a>{% endif %}</h1>

<p>DOB: {{ skater.birthday }}</p>
{% if skater.draft_position %}
<p>Drafted: {{ skater.draft_year }}, #{{ skater.draft_position }} Overall</p>
{% else %}
<p>Undrafted</p>
{% endif %}

{% if skaterpredictions %}
<h2>Visual Summary</h2>
<p>
    The wide, light background bar represents the model's prediction, while the darker thinner bar reflects actual stats.
    The vertical stroke shows where the player should be to match pace for the prediction (based on the team's remaining games).
    Stats with the 'SH / ES / PP' notation are broken down situationally by color (orange = SH, green = ES, blue = PP).
    Penalty Minutes are broken down into misconducts, majors, and minors. JavaScript is required.
</p>

<div id="chart"></div>

<style>

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #ddd; }
.bullet .range.s1 { fill: #99f; }
.bullet .range.s2 { fill: #9f9; }
.bullet .range.s3 { fill: #fa9; }
.bullet .measure.s0 { fill: #00f; }
.bullet .measure.s1 { fill: #0f0; }
.bullet .measure.s2 { fill: #f60; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{% static 'js/bullet.js' %}"></script>
<script>

var margin = {top: 5, right: 40, bottom: 20, left: 120},
    width = 960 - margin.left - margin.right,
    height = 50 - margin.top - margin.bottom;

var chart = d3.bullet()
    .width(width)
    .height(height);

d3.json("{% url 'player_graph' %}?pk={{ skater.nhl_num }}", function(error, data) {
  var svg = d3.select("#chart").selectAll("svg")
      .data(data)
    .enter().append("svg")
      .attr("class", "bullet")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
      .call(chart);

  var title = svg.append("g")
      .style("text-anchor", "end")
      .attr("transform", "translate(-6," + height / 2 + ")");

  title.append("text")
      .attr("class", "title")
      .text(function(d) { return d.title; });

  title.append("text")
      .attr("class", "subtitle")
      .attr("dy", "1em")
      .text(function(d) { return d.subtitle; });
});

</script>

{% else %}
<h3>Note</h3>
<p>
    The model has nothing to say about this player, most likely because they did not play in the previous season.
</p>
{% endif %}

<h2>Base Statistics</h2>
<table class="table table-hover">
    <tr>
        <th>Season</th>
        <th title="Games Played">GP</th>
        <th title="Goals">G</th>
        <th title="Assists">A</th>
        <th title="Points">P</th>
        <th title="Plus/Minus">+/-</th>
        <th title="Penalties (In Minutes)">PIM</th>
        <th title="Shots">S</th>
        <th title="Shot Percentage">S%</th>
        <th title="Faceoff Wins">FOW</th>
        <th title="Faceoff Losses">FOL</th>
    </tr>
    {% for season in skaterstats %}
    <tr>
        <td>{{ season.season }}</td>
        <td>{{ season.games_played }}</td>
        <td>{{ season.goals }}</td>
        <td>{{ season.assists }}</td>
        <td>{{ season.points }}</td>
        <td>{{ season.plus_minus }}</td>
        <td>{{ season.penalty_minutes }}</td>
        <td>{{ season.shots }}</td>
        <td>{{ season.shot_pct }}</td>
        <td>{{ season.faceoff_wins }}</td>
        <td>{{ season.faceoff_losses }}</td>
    </tr>
    {% endfor %}
    {% if skaterpredictions %}
    <tr class="danger">
        <td>2015 (Predicted)</td>
        <td>{{ skaterpredictions.games_played|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.goals|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.assists|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.points|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.plus_minus|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.penalty_minutes|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.shots|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.shot_pct|mul:100|floatformat:"1" }}</td>
        <td>{{ skaterpredictions.faceoff_wins|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.faceoff_losses|floatformat:"0" }}</td>
    </tr>
    {% endif %}
</table>

<h2>Situational Statistics</h2>
<table class="table table-hover">
    <tr>
        <th></th>
        <th colspan="3">Time On Ice Per Game</th>
        <th colspan="3">Goals</th>
        <th colspan="3">Points</th>
    </tr>
    <tr>
        <th>Season</th>
        <th>Total</th>
        <th title="Power Play">PP</th>
        <th title="Short-handed">SH</th>
        <th>Total</th>
        <th title="Power Play">PP</th>
        <th title="Short-handed">SH</th>
        <th>Total</th>
        <th title="Power Play">PP</th>
        <th title="Short-handed">SH</th>
    </tr>
    {% for season in skaterstats %}
    <tr>
        <td>{{ season.season }}</td>
        <td>{{ season.toi|div:season.games_played|floatformat:"0"|intdiv:60 }}:{% if season.toi|div:season.games_played|floatformat:"0"|mod:60 < 10 %}0{% endif %}{{ season.toi|div:season.games_played|floatformat:"0"|mod:60 }}</td>
        <td>{{ season.pp_toi|div:season.games_played|floatformat:"0"|intdiv:60 }}:{% if season.pp_toi|div:season.games_played|floatformat:"0"|mod:60 < 10 %}0{% endif %}{{ season.pp_toi|div:season.games_played|floatformat:"0"|mod:60 }}</td>
        <td>{{ season.sh_toi|div:season.games_played|floatformat:"0"|intdiv:60 }}:{% if season.sh_toi|div:season.games_played|floatformat:"0"|mod:60 < 10 %}0{% endif %}{{ season.sh_toi|div:season.games_played|floatformat:"0"|mod:60 }}</td>
        <td>{{ season.goals }}</td>
        <td>{{ season.pp_goals }}</td>
        <td>{{ season.sh_goals }}</td>
        <td>{{ season.points }}</td>
        <td>{{ season.pp_points }}</td>
        <td>{{ season.sh_points }}</td>
    </tr>
    {% endfor %}
    {% if skaterpredictions %}
    <tr class="danger">
        <td>2015 (Predicted)</td>
        <td>{{ skaterpredictions.toi|floatformat:"0"|intdiv:60 }}:{% if skaterpredictions.toi|floatformat:"0"|mod:60 < 10 %}0{% endif %}{{ skaterpredictions.toi|floatformat:"0"|mod:60 }}</td>
        <td>{{ skaterpredictions.pp_toi|floatformat:"0"|intdiv:60 }}:{% if skaterpredictions.pp_toi|floatformat:"0"|mod:60 < 10 %}0{% endif %}{{ skaterpredictions.pp_toi|floatformat:"0"|mod:60 }}</td>
        <td>{{ skaterpredictions.sh_toi|floatformat:"0"|intdiv:60 }}:{% if skaterpredictions.sh_toi|floatformat:"0"|mod:60 < 10 %}0{% endif %}{{ skaterpredictions.sh_toi|floatformat:"0"|mod:60 }}</td>
        <td>{{ skaterpredictions.goals|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.pp_goals|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.sh_goals|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.points|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.pp_points|floatformat:"0" }}</td>
        <td>{{ skaterpredictions.sh_points|floatformat:"0" }}</td>
    </tr>
    {% endif %}
</table>

{% endblock %}