{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h1>Welcome!</h1>
        <p>
            This site is my attempt to bring machine learning algorithms to bear on prediction of NHL fantasy stats.  If
            you'd like more details about the method I'm attempting to employ, see the <a href="{% url 'method' %}">about:method</a>
            page.  If you'd like to know what features are coming down the pike, see the <a href="{% url 'site' %}">about:site</a>
            page.
        </p>
        <h3>Where to look</h3>
        <p>
            If you have a favorite team, use the "Conference" dropdown lists above.  If you're curious about a particular
            player, enter all or part of their last name in the search box above (note: I only have players that played at
            least one season since 1997-1998, and only predict for players that played last season; the model has
            nothing to say about how Gretzky would fair in today's NHL).  If you'd like to know more about the
            specifics of the model, check the "Stats" dropdown to
            see features of the algorithms for specific stats (as I make them).  If you know nothing at all about hockey,
            take a gander at the <a href="{% url 'glossary' %}">glossary</a> page to learn about basic hockey definitions,
            then come back here and try one of the players from the 2015 All-Star rosters to see an example of a good
            player's numbers.
        </p>
        <p>
            Thanks for visiting!
        </p>
        <h3>2015 NHL All-Star Game Rosters</h3>
        <div class="col-md-6">
            <table class="table table-hover">
                <tr>
                    <th>Team Toews</th>
                    <th>Team Foligno</th>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8473604 %}">Jonathan Toews</a></td>
                    <td><a href="{% url 'player_detail' pk=8473422 %}">Nick Foligno</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8470612 %}">Ryan Getzlaf</a></td>
                    <td><a href="{% url 'player_detail' pk=8474141 %}">Patrick Kane</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8470041 %}">Rick Nash</a></td>
                    <td><a href="{% url 'player_detail' pk=8475793 %}">Ryan Johansen</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8475794 %}">Tyler Seguin</a></td>
                    <td><a href="{% url 'player_detail' pk=8471685 %}">Anze Kopitar</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8474161 %}">Jakub Voracek</a></td>
                    <td><a href="{% url 'player_detail' pk=8474564 %}">Steven Stamkos</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8475166 %}">John Tavares</a></td>
                    <td><a href="{% url 'player_detail' pk=8473548 %}">Phil Kessel</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8475765 %}">Vladimir Tarasenko</a></td>
                    <td><a href="{% url 'player_detail' pk=8473512 %}">Claude Giroux</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8470638 %}">Patrice Bergeron</a></td>
                    <td><a href="{% url 'player_detail' pk=8471676 %}">Bobby Ryan</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8460542 %}">Patrik Elias</a></td>
                    <td><a href="{% url 'player_detail' pk=8468085 %}">Radim Vrbata</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8476887 %}">Filip Forsberg</a></td>
                    <td><a href="{% url 'player_detail' pk=8476878 %}">Zemgus Girgensons</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8476346 %}">Johnny Gaudreau</a></td>
                    <td><a href="{% url 'player_detail' pk=8471214 %}">Alex Ovechkin</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8470642 %}">Shea Weber</a></td>
                    <td><a href="{% url 'player_detail' pk=8476454 %}">Ryan Nugent-Hopkins</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8470607 %}">Brent Seabrook</a></td>
                    <td><a href="{% url 'player_detail' pk=8474563 %}">Drew Doughty</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8477932 %}">Aaron Ekblad</a></td>
                    <td><a href="{% url 'player_detail' pk=8470281 %}">Duncan Keith</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8470600 %}">Ryan Suter</a></td>
                    <td><a href="{% url 'player_detail' pk=8470834 %}">Dustin Byfuglien</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8470966 %}">Mark Giordano</a></td>
                    <td><a href="{% url 'player_detail' pk=8470613 %}">Brent Burns</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'player_detail' pk=8475753 %}">Justin Faulk</a></td>
                    <td><a href="{% url 'player_detail' pk=8474031 %}">Kevin Shattenkirk</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a href="{% url 'player_detail' pk=8475171 %}">Oliver Ekman-Larsson</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}